<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <title>Lifeguard Communicate</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>Get Translationnn</h1>
    <form action="/translation">
        <input type="text" name="word" id="word" placeholder="Enter a word" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>